SECRET_KEY=change-me
DEBUG=false
ALLOWED_HOSTS=james-mentor.iside.systems
CSRF_TRUSTED_ORIGINS=https://james-mentor.iside.systems

DB_HOST=
DB_PORT=5432
DB_NAME=james
AIRBYTE_DB_NAME=airbyte_raw
DB_USER=airbyte_writer
DB_PASSWORD=
